/* 
https://doc.qt.io/qt-5/stylesheet-examples.html
*/
QLabel#Name {
   font:35px;
}
QPushButton#btnAdd{
}
QPushButton#btnAdd:pressed{
}
QPushButton#btnAdd:hover{
}
QLineEdit#Quantity{
   font:30px
}
QProgressBar{
   text-align: left; 
}
